
@import url('https://fonts.googleapis.com/css?family=Nunito:300');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	 margin: 0;
	 padding-bottom: 20px;
	 font-family: 'Nunito', sans-serif;
	 color: white;
   background-color: #85FFBD;
}

.wrapper {
    background-color: #12192c;
    position: relative;
    width:30%;
    margin: 130px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.header {
	 position: relative;
	 text-align: center;
   
}

header h1 {
	color:#b61818;
  }

.welcomeText {
  margin-top: 10%;
	text-align: center;
}

.welcomeBtns {
  margin-top: 10%;
	display: flex;
	justify-content: space-around;
}

.welcomeBtns button {
	margin: 2rem;
	border: 0;
	border-radius: 20px;
	width: 100%;
	padding: 0.85rem;
	font-size: 1rem;
  font-weight: 400;
	color: #000;
	background: #85FFBD;
}

form {
	 margin: 0 auto;
	 max-width: 16rem;
	 overflow: auto;
}

form > * + * {
	 margin-top: 1rem;
}

form > input {
	 border: 0;
	 border-bottom: 1px solid white;
	 border-radius: 0;
	 width: 100%;
	 height: 2rem;
	 padding: 0 0 0.25rem 0;
	 font-size: .8rem;
   font-weight: 400;
	 color: white;
	 background: transparent;
}

form > input:focus {
	 outline: none;
}
form > input::placeholder {
	 color: white;
}

form > button {
	 margin-top: 2rem;
	 border: 0;
	 border-radius: 200px;
	 width: 100%;
	 padding: 0.85rem;
	 font-size: 1rem;
	 color: #000;
	 background: #85FFBD;
}

form > button:focus {
	 outline: none;
}

form > p {
	 text-align: center;
	 color: white;
}

.sign-up form {
  padding: 10% 0;
}

.sign-up, .sign-in {
	 display: none;
}

.opposite-btn1, .opposite-btn2 {
	 cursor: pointer;
}


@media screen and (max-width: 600px) {
	.welcomeBtns {
		flex-direction: column;
		align-items: center;
		margin: 1rem;
	}
}